@media (min-width: 375px) {
  .splashtext_text {
    color: yellow;
    font-family: "Minecraft Regular";
    font-size: 16px;
    text-align: center;
  }
}

@media (min-width: 640px) {
  @keyframes splashtextanim {
    from {
      scale: 60%;
    }

    to {
      scale: 70%;
    }
  }

  a:active, a:link, a:hover, a:active {
    color: transparent;
    background: transparent;
  }
  
  .splashtext_text {
    color: yellow;
    font-family: "Minecraft Regular";
    font-size: 25px;
    text-align: center;
    
    animation-name: splashtextanim;
    animation-duration: 0.75s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
  }
}
/*
.splashtext_div {
  position: absolute;
  animation-name: splashtextanim;
  animation-duration: 0.3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}
*/
