/*
@font-face {
	font-family: "HeadlinerNo45";
	src:
	local("HeadlinerNo45"),
	url("/assets/fonts/headliner-no-45-font/HeadlinerNo45.eot?#iefix") format("embedded-opentype"),
	url("/assets/fonts/headliner-no-45-font/HeadlinerNo45.otf") format("opentype"),
	url("/assets/fonts/headliner-no-45-font/HeadlinerNo45.woff2") format("woff2"),
	url("/assets/fonts/headliner-no-45-font/HeadlinerNo45.woff") format("woff"),
	url("/assets/fonts/headliner-no-45-font/HeadlinerNo45.ttf") format("truetype");
}
*/

@font-face {
	font-family: "gemsbuck-03-black-font";
	src:
	local("gemsbuck-03-black-font"),
	url("/assets/fonts/gemsbuck-03-black-font/Gemsbuck03Black-G3JZa.woff2") format("woff2"),
	url("/assets/fonts/gemsbuck-03-black-font/Gemsbuck03Black-G3JZa.woff") format("woff"),
	url("/assets/fonts/gemsbuck-03-black-font/Gemsbuck03Black-G3JZa.ttf") format("truetype");
}
