@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

*{
  margin:0; padding:0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  background-color: var(--color-purple-3);
}

.container{
  max-width: 85%;
  margin:20px auto;
}

.container .title{
  font-size: 25px;
  background-color: var(--color-purple-4);
  color:#fff;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
  padding:15px;
}

.container .image-container{
  columns:3 250px;
  gap:15px;
  
}

.container .image-container img{
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

h1 {
  color: white;
  font-family: "Minecraft Regular";
  font-size: 25px;
  letter-spacing: 1.5px;
  text-align: center;
}
  
p {
  color: white;
  font-family: "Determination Sans";
  font-size: 20px;
  text-align: center;
}