#header {
  background: linear-gradient(#3b3b3b, #1a1a1a);
  padding: 30px 0;
  border-bottom: 3px solid var(--color-cyan-7);
  box-shadow: 0 0 8px var(--color-cyan-7);
}

#header h1 {
  margin: 0;
  font-size: 48px;
  letter-spacing: 3px;
  text-shadow: 0 0 8px var(--color-cyan-7);
}

#header p {
  margin-top: 10px;
  font-size: 18px;
  opacity: 0.85;
}

a:active, a:link, a:hover, a:visited {
  color: transparent;
  background: transparent;
}
  
.divkil {
  width: 0 auto;
  border: 3px solid var(--color-purple-4);
  background-color: var(--color-purple-3);
  text-align: center;
  padding: 0 auto;
  margin: 0 auto;
}
  
.divkil3 {
  background-color: var(--color-purple-3);
  padding-top: 4px;
  padding-bottom: 4px;
  width: 0 auto;
  margin: 0 auto;
  text-align: center;
}

.customs_community {
  color: var(--color-white);
  letter-spacing: 1px;
}

.badge-section {
  margin: 40px auto;
  width: 85%;
  background: rgba(0, 0, 0, 0.55);
  box-shadow: 0 0 12px #000;
  border-radius: 6px;
  padding: 20px;
}

.badge-section img {
  margin: 4px;
  border: 1px solid #333;
  background: #111;
  padding: 2px;
  transition: 0.2s;
  image-rendering: pixelated
}

.badge-section img:hover {
  transform: translateY(-3px);
  box-shadow: 0 0 6px var(--color-cyan-6);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--color-cyan-2);
  font-family: 'Segoe UI', Tahoma, sans-serif;
  color: var(--color-white);
  text-align: center;
}
  
h1 {
  color: var(--color-white);
  font-family: "Minecraft Regular";
  font-size: 25px;
  letter-spacing: 1.5px;
  text-align: center;
}
  
p {
  color: var(--color-white);
  font-family: "Determination Sans";
  font-size: 20px;
  text-align: center;
}

iframe {
  margin-top: 25px;
  width: 560px;
  height: 315px;
  border: 3px solid var(--color-cyan-7);
  box-shadow: 0 0 12px var(--color-cyan-7);
}