:root {
	--color-blue-1: #01030a;
	--color-blue-2: #08162c;
	--color-blue-3: #162d52;
	--color-blue-4: #26477b;
	--color-blue-5: #3762a7;
	--color-blue-6: #5d81b9;
	--color-blue-7: #84a0cc;
	--color-blue-8: #acbfdd;
	--color-blue-9: #d5dfee;
	--color-cyan-1: #000407;
	--color-cyan-2: #001a22;
	--color-cyan-3: #003441;
	--color-cyan-4: #005163;
	--color-cyan-5: #006f87;
	--color-cyan-6: #2b8da8;
	--color-cyan-7: #69a9be;
	--color-cyan-8: #9cc6d3;
	--color-cyan-9: #cee2e9;
	--color-gray-1: #030304;
	--color-gray-2: #14161a;
	--color-gray-3: #2b2e35;
	--color-gray-4: #434852;
	--color-gray-5: #5e6371;
	--color-gray-6: #7b808b;
	--color-gray-7: #9b9ea7;
	--color-gray-8: #bbbec4;
	--color-gray-9: #dddee1;
	--color-green-1: #000502;
	--color-green-2: #001c0f;
	--color-green-3: #003822;
	--color-green-4: #005636;
	--color-green-5: #00764c;
	--color-green-6: #46926c;
	--color-green-7: #76ad8f;
	--color-green-8: #a4c8b3;
	--color-green-9: #d1e3d9;
	--color-magenta-1: #080204;
	--color-magenta-2: #260c19;
	--color-magenta-3: #481d33;
	--color-magenta-4: #6d2f4f;
	--color-magenta-5: #94436d;
	--color-magenta-6: #ab6888;
	--color-magenta-7: #c28ca5;
	--color-magenta-8: #d7b2c2;
	--color-magenta-9: #ebd8e0;
	--color-orange-1: #070200;
	--color-orange-2: #241100;
	--color-orange-3: #452600;
	--color-orange-4: #683c00;
	--color-orange-5: #8e5300;
	--color-orange-6: #a8743e;
	--color-orange-7: #be966f;
	--color-orange-8: #d4b89e;
	--color-orange-9: #eadbce;
	--color-purple-1: #040209;
	--color-purple-2: #1a1029;
	--color-purple-3: #34244c;
	--color-purple-4: #503a73;
	--color-purple-5: #6e519d;
	--color-purple-6: #8973b1;
	--color-purple-7: #a595c5;
	--color-purple-8: #c2b7d9;
	--color-purple-9: #e0dbec;
	--color-red-1: #090201;
	--color-red-2: #280c0b;
	--color-red-3: #4c1d1b;
	--color-red-4: #73302c;
	--color-red-5: #9c433f;
	--color-red-6: #b36963;
	--color-red-7: #c88d88;
	--color-red-8: #dbb3ae;
	--color-red-9: #eed8d6;
	--color-yellow-1: #040400;
	--color-yellow-2: #181800;
	--color-yellow-3: #303100;
	--color-yellow-4: #4b4b00;
	--color-yellow-5: #686800;
	--color-yellow-6: #84853c;
	--color-yellow-7: #a1a36e;
	--color-yellow-8: #bfc19e;
	--color-yellow-9: #dfe0ce;

	--color-black: #000000;
	--color-blue-d: #24477d;
	--color-blue-l: #4f8def;
	--color-cyan-d: #005163;
	--color-cyan-l: #009fc1;
	--color-green-d: #005636;
	--color-green-l: #00aa6f;
	--color-magenta-d: #6e2e4f;
	--color-magenta-l: #d4609d;
	--color-orange-d: #683c00;
	--color-orange-l: #ca7900;
	--color-purple-d: #503975;
	--color-purple-l: #9f75e1;
	--color-red-d: #742e2b;
	--color-red-l: #e0615c;
	--color-white: #ffffff;
	--color-yellow-d: #4b4b00;
	--color-yellow-l: #959600;
}